include /blocks/container/container
include /blocks/link-arrow/link-arrow
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text

mixin santoor()
	+b.santoor&attributes(attributes)
		+e('audio').audio.js-santoor-audio(autoplay)
			+e('source').source(src='assets/audio/text/santur.mp3' type='audio/mpeg')

		+container
			+e.wrapper
				+title.santoor__title Сантур

				+e('img').image(src='assets/images/instruments/santoor.png')

				+e('a').info(href='santoor-info.html')

			+e.footer
				+link-arrow

				+e.wrap-buttons
					+e.button-video
						+button._type_video
					+button({audio: 'assets/audio/instruments/Santur.mp3'})
