include /blocks/container/container
include /blocks/links-back/links-back
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text
include /blocks/popup/popup

mixin duduk()
	+b.duduk.pages&attributes(attributes)&attributes({class: 'js-duduk'})
		+e('audio').audio.js-audio-layout(autoplay)
			+e('source').source(src='assets/audio/text/duduk.mp3' type='audio/mpeg')

		+e.wrap.wrap
			+container
				+title.duduk__title Дудук
				+e.wrapper
					+e.wrap-content
						+text
							| Представляет из себя трубку с 9-ю игровыми отверстиями и двойной тростью. Традиционное название армянского дудука — циранапох, что дословно может быть переведено как «абрикосовая труба» либо «душа абрикосового дерева»

						+text
							| Дудук обладает тёплым, мягким, слегка приглушённым звуком и бархатистым тембром, отличается лиричностью, эмоциональностью и выразительностью. При исполнении музыки в парах ведущий дудук и дам-дудук) зачастую возникает ощущение покоя, умиротворённости и высокого духовного начала.

						+text
							| Выдающиися дудукисты: Людвиг Гарибян, Дживан Гаспарян, Геворг Дабагян, Сергей Карапетян, Мкртич Малхасян, Ваче Овсепян. Среди азербайджанских музыкантов наиболее известен Алихан Самедов.

					+e.image-wrap
						+e('img').image.js-image(src='assets/images/instruments/duduk.png' data-zoom='assets/images/instruments/duduk.png')
						+e.zoom.zoom.js-for-zoom-photo

				+e.links-back
					+links-back({href: 'main.html'})

				+e.wrap-buttons
					+e.button-video
						+button({type: 'video', popup: 'duduk'})
					+button({audio: 'assets/audio/instruments/Duduk.mp3'})

		+popup({id: 'duduk'})
