include /blocks/container/container
include /blocks/link-arrow/link-arrow
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text
include /blocks/popup/popup

mixin duduk()
	+b.duduk.pages&attributes(attributes)&attributes({class: 'js-duduk'})
		+e('audio').audio.js-audio-layout(autoplay)
			+e('source').source(src='assets/audio/text/duduk.mp3' type='audio/mpeg')

		+e.wrap.wrap
			+container
				+e.wrapper
					+title.duduk__title Дудук

					+text
						| Представляет из себя трубку с 9-ю игровыми отверстиями и двойной тростью.
						br
						| Традиционное название армянского дудука — циранапох, что дословно может
						br
						| быть переведено как «абрикосовая труба» либо «душа абрикосового дерева»

					+text
						| Дудук обладает тёплым, мягким, слегка приглушённым звуком и
						br
						| бархатистым тембром, отличается лиричностью, эмоциональностью и
						br
						| выразительностью. При исполнении музыки в парах
						br
						| ведущий дудук и дам-дудук) зачастую возникает ощущение
						br
						| покоя, умиротворённости и высокого духовного начала.

					+text
						| Выдающиися дудукисты: Людвиг Гарибян,
						br
						| Дживан Гаспарян, Геворг Дабагян, Сергей
						br
						| Карапетян, Мкртич Малхасян, Ваче Овсепян.
						br
						| Среди азербайджанских музыкантов
						br
						| наиболее известен Алихан Самедов.

					+e('img').image(src='assets/images/instruments/duduk.png')

				+e.footer
					+link-arrow({href: 'main.html'})

					+e.wrap-buttons
						+e.button-video
							+button({type: 'video', popup: 'duduk'})
						+button({audio: 'assets/audio/instruments/Duduk.mp3'})

		+popup({id: 'duduk'})
