.valtorna
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__title
		margin-bottom 60px
		text-align center

	&__wrapper
		display flex
		align-items center

	&__wrap-image
		position relative
		display flex
		justify-content center
		align-items center
		flex 0 0 auto

	&__image-wrap
		width 360px
		height 254px

	&__image
		size 100%

	&__text
		padding-left 40px
		width 100%

	&__footer
		position absolute
		left 0
		bottom 35px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%
