include /blocks/container/container
include /blocks/links-back/links-back
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text

mixin valtorna()
	+b.valtorna.pages&attributes(attributes)
		+e.wrap.wrap
			+container
				+e.content-title
					+e.empty
					+title.valtorna__title Валторна

				+e.wrapper
					+e.wrap-image
						+e('img').image.js-image(src='assets/images/instruments/valtorna.png' data-zoom='assets/images/instruments/valtorna.png')
						+e.zoom.zoom.js-for-zoom-photo

					+text.valtorna__text
						| Произошла от охотничьего сигнального рога, в оркестр вошла в середине XVII века.
						br
						| До 1830-х годов, подобно другим медным инструментам, не имела вентилей и была натуральным инструментом с ограниченным звукорядом.
						br
						| Валторне хорошо удаётся исполнение длинных нот (в том числе на органном пункте) и мелодий широкого дыхания. Расход воздуха на этом инструменте относительно невелик (не считая крайних регистров).

				+e.footer
					+links-back({href: 'cooperwinds.html'})
					+button({audio: 'assets/audio/instruments/Valtorna.mp3'})
