.valtorna
	padding-top 32px
	overflow hidden
	background-image url('../images/bg-instruments.jpg')
	background-size cover

	&__title
		margin-bottom 60px
		text-align center

	&__wrapper
		display flex
		align-items center

	&__wrap-image
		display flex
		justify-content center
		align-items center
		width 50%

	&__image
		width 360px
		height 254px

	&__text
		width 50%

	&__footer
		position absolute
		left 0
		bottom 70px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%
