.goboi
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrapper
		position relative
		z-index 2
		display flex
		justify-content space-around

	&__title
		margin-bottom 10px

	&__link
		text-decoration none
		color #fff
		transition color .3s

		&:hover
			color rgba(#fff, .8)

	&__image-wrap
		position relative
		flex 0 0 auto
		width 316px
		max-width 316px
		height 560px

	&__image
		size 100%

	&__links-back
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-video
		margin-bottom 30px

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px
