.goboi
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrapper
		position relative
		z-index 2

	&__title
		margin-bottom 10px
		text-align center

	&__text
		width 535px

	&__link
		text-decoration none
		color #fff
		transition color .3s

		&:hover
			color rgba(#fff, .8)

	&__image
		position absolute
		top 6px
		right 60px
		width 316px
		height 560px

	&__footer
		position absolute
		left 0
		bottom 35px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%

	&__button-video
		margin-bottom 30px
