.arfa
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover


	&__wrapper
		max-width 600px

	&__link
		text-decoration none
		color #fff
		transition color .3s

		&:hover
			color rgba(#fff, .8)

	&__image-wrap
		position absolute
		right 26px
		bottom 0
		width 346px
		height 616px

	&__image
		size 100%

	&__links-back
		position absolute
		left 0
		bottom 35px
		display flex

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px

	&__button-video
		position absolute
		bottom 35px
		left 50%
		margin-right -100px
		transform translateX(-50%)
