include /blocks/container/container
include /blocks/links-back/links-back
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text
include /blocks/popup/popup

mixin arfa()
	+b.arfa.pages&attributes(attributes)
		+e.wrap.wrap
			+container
				+e.wrapper
					+title Арфа

					.content-scroll
						.content-text
							+text
								| Струнный щипковый музыкальный инструмент.
								br
								| Один из древнейших музыкальных инструментов человечества.
								br
								| Произошла от лука с натянутой струной, которая мелодично звучала при выстреле. Позже звук тетивы стали использовать как сигнал. Человек, впервые натянувший на лук три-четыре тетивы, которые из-за своей неодинаковой длины издавали звуки разной высоты, и стал создателем первой арфы.
							+text
								| Роль арфы в оркестре не столько эмоциональная, сколько красочная. Арфа часто аккомпанирует разным инструментам оркестра; в других случаях ей поручают эффектные соло. Их немало в
								a.arfa__link(href=jv0) балетах Чайковского,&nbsp;
								| Глазунова, в сочинениях
								br
								| Римского-Корсакова.
							+text
								| Струнный щипковый музыкальный инструмент.
								br
								| Один из древнейших музыкальных инструментов человечества.
								br
								| Произошла от лука с натянутой струной, которая мелодично звучала при выстреле. Позже звук тетивы стали использовать как сигнал. Человек, впервые натянувший на лук три-четыре тетивы, которые из-за своей неодинаковой длины издавали звуки разной высоты, и стал создателем первой арфы.
							+text
								| Роль арфы в оркестре не столько эмоциональная, сколько красочная. Арфа часто аккомпанирует разным инструментам оркестра; в других случаях ей поручают эффектные соло. Их немало в
								a.arfa__link(href=jv0) балетах Чайковского,&nbsp;
								| Глазунова, в сочинениях
								br
								| Римского-Корсакова.

				+e.image-wrap
					+e('img').image.js-image(src='assets/images/instruments/arfa.png' data-zoom='assets/images/instruments/arfa.png')
					+e.zoom.zoom.js-for-zoom-photo

				+e.links-back
					+links-back({href: 'main.html'})

				+e.wrap-buttons
					+button({audio: 'assets/audio/instruments/Arfa.mp3'})

				+e.button-video
					+button({type: 'video', popup: 'arfa'})

		+popup({id: 'arfa'})
