.link-instruments
	text-decoration none

	&:hover &__image
		filter drop-shadow(6px 6px 15px white)

	&__title
		margin-bottom 15px

	&__image
		width 99px
		height 168px

	&_type
		&_coop
			display flex
			align-items center

		&_wood
			display flex
			flex-direction column
			justify-content center
			align-items center

	&_type_coop &
		&__title
			margin-right 15px
			margin-bottom 0

	&_reverse_row
		flex-direction row-reverse

	&_reverse_row &
		&__title
			margin-bottom 0
			margin-left 15px

	&_reverse_column
		flex-direction column-reverse

	&_reverse_column &
		&__title
			margin-top 15px
			margin-bottom 0
