.litavry
	&__wrap
		background-image url('../images/bg-litavry.jpg')
		background-size cover

	&__title
		margin-bottom 10px
		text-align center

	&__image-wrap
		position absolute
		left 50%
		bottom 68px
		width 380px
		height 220px
		transform translateX(-50%)

	&__image
		size 100%

	&__link-arrow
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-video
		margin-bottom 30px

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px
