.litavry
	background-image url('../images/bg-litavry.jpg')
	background-size cover

	&__title
		margin-bottom 10px
		text-align center

	&__image
		position absolute
		left 50%
		bottom 68px
		width 380px
		height 220px
		transform translateX(-50%)

	&__footer
		position absolute
		left 0
		bottom 70px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%

	&__button-video
		margin-bottom 30px
