.santoor-info
	padding-top 35px
	overflow hidden
	background-image url('../images/bg-instruments.jpg')
	background-size cover

	&__title
		margin-bottom 10px
		text-align center

	&__text
		margin-top 30px

	&__link
		text-decoration none
		color #fff
		transition color .3s

		&:hover
			color rgba(#fff, .8)

	&__footer
		position absolute
		left 0
		bottom 70px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%
