include /blocks/container/container
include /blocks/link-arrow/link-arrow
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text

mixin santoor-info()
	+b.santoor-info.pages&attributes(attributes)
		+e.wrap.wrap
			+container
				+e.wrapper
					+title.santoor-info__title Сантур

					+text.santoor-info__text
						| Струнный ударный музыкальный инструмент, род
						a.santoor-info__link(href=jv0) цимбал.
						br
						| Распространён в Азербайджане, Армении, Грузии, Индии, Иране, Ираке, Турции и других странах Востока.
						br
						| Название «сантур», согласно историческим данным, происходит от греческого «псантерина». Создание сантура связано с именем еврейского пророка и царя Давида, который, по легенде, был создателем ряда музыкальных инструментов. Представляет собой трапециевидный деревянный ящик, части которого изготавливаются из отборного орехового дерева, а колки и струнодержатель — из металла. Состоит из рамы, верхней и нижней деревянных крышек. Струны металлические. Через каждую подставку проходят 4 струны одной настройки. Нижняя дека инструмента представляет цельную доску толщиной в 7 мм, а верхняя — толщиной в 5 мм.

				+e.footer
					+link-arrow({href: 'santoor.html'})
