include /blocks/container/container
include /blocks/text/text
include /blocks/link-arrow/link-arrow

mixin story()
	+b.story&attributes(attributes)
		+container
			+e('h1').title ИСТОРИЯ ВОЗНИКНОВЕНИЯ

			+text()._size_big
				| Слово «оркестр» намного старше того понятия, которое в него вкладывается в последние века. В древней Греции глагол «орхео» означал - «танцую», а орхестрой греки называли полукруглую площадку театра, на которой, совершая ритмичные движения, пел свои партии хор, непременный участник каждой трагедии и комедии. Шли годы, погибла великая античная цивилизация, но слово осталось жить. Через десятки веков в Европе оркестром стали называть помещение в театре, где размещались музыканты, а позже - сам ансамбль музыкальных инструментов и исполнителей на них.

			+e.image-wrap
				+e('img').image._first(src='assets/images/story/first.png')

			+text()._size_big
				| Симфонический оркестр сравнительно молод - ему не исполнилось еще и четырехсот лет - срок ничтожный по сравнению с десятками веков существования музыкальной культуры.

			+text()._size_big
				| Оркестр в современном смысле слова возник лишь тогда, когда инструментальная музыка перестала быть только непременным участником религиозных церемоний и веселых пиров, когда композиторы начали писать инструментальные произведения, предназначенные не к случаю, а для специального исполнения перед публикой. Это связано с зарождением светской инструментальной музыки, с появлением новых музыкальных жанров: оперы, балета и оратории, а позже симфонии, увертюры и концерта. Таким рубежом, с которого мы можем начинать историю оркестра, был конец XVI века.

			+text()._size_big
				| Симфонический оркестр формировался в течение столетий. Его развитие долгое время происходило в недрах оперных и церковных ансамблей. Такие коллективы в XV-XVII вв. были небольшими и разнородными. В их состав входили лютни, виолы, флейты с гобоями, тромбоны, арфы, барабаны. Постепенно главенствующее положение завоевали струнные смычковые инструменты. Место виол заняли скрипки с их более сочным и певучим звуком. К началу XVIII в. они уже безраздельно господствовали в оркестре. Объединились и отдельную группу и духовые (флейты, гобои, фаготы). Из церковного оркестра перешли в симфонический трубы и литавры. Непременным участником инструментальных ансамблей был клавесин.

			+text()._size_big
				| Такой состав был характерен для
				+e('a').link(href=jv0) И. С. Баха
				| ,
				+e('a').link(href=jv0) Г. Генделя
				| ,
				+e('a').link(href=jv0) А. Вивальди
				| .

			+text()._size_big
				| С середины XVIII в. начинают развиваться жанры симфонии и инструментального концерта.
				br
				| Меняются функции новых инструментов. Клавесин с его слабым звуком постепенно теряет ведущую роль. Вскоре композиторы совсем отказываются от него, опираясь главным образом на струнную и духовую группу. К концу XVIII в. сложился  классический состав оркестра: около 30 струнных, 2 флейты, 2 гобоя, 2 фагота, 2 трубы, 2-3 валторны и литавры.
				br
				| Вскоре к духовым присоединился кларнет.

			+e.image-wrap
				+e('img').image._second(src='assets/images/story/scheme.png')

			+text()._size_big
				| Современный симфонический оркестр состоит из 4-х основных групп. Фундаментом оркестра служит струнная группа (скрипки, альты, виолончели, контрабасы). В большинстве случаев струнные являются основными носителями мелодического начала в оркестре. Количество музыкантов, играющих на струнных, составляет примерно 2/3 всего коллектива. В группу деревянных духовых инструментов входят флейты, гобои, кларнеты, фаготы. Каждый из них имеет обычно самостоятельную партию. Уступая смычковым в тембровой насыщенности, динамических свойствах и разнообразии приемов игры, духовые обладают большой силой, компактностью звучания, яркими красочными оттенками. Третья группа инструментов оркестра - медные духовые (валторна, труба, тромбон, труба). Они вносят в оркестр новые яркие краски, обогащая его динамические возможности, придают звучанию мощь и блеск, служат также басовой и ритмической опорой.

			+text()._size_big
				| Все большее значение приобретают в симфоническом оркестре ударные инструменты. Основная их функция - ритмическая. Кроме того, они создают особый звукошумовой фон, дополняют и украшают оркестровую палитру колористическими эффектами. По характеру звучания ударные делятся на 2 типа: одни имеют определенную высоту звука (литавры, колокольчики, ксилофон, колокола и др.), другие лишены точной звуковысотности (треугольник, бубен, малый и большой барабан, тарелки). Из инструментов, не входящих в основные группы, наиболее существенна роль арфы. Эпизодически композиторы включают в оркестр челесту, фортепиано, саксофон, орган и другие инструменты.

			+e.link-arrow
				+link-arrow({href: 'main.html'})
