.tabla
	background-image url('../images/bg-instruments.jpg')
	background-size cover

	&__wrap-title
		display flex
		justify-content center

	&__title
		margin-bottom 10px
		text-align center

	&__image-wrap
		margin-top 30px
		text-align center

	&__image
		width 462px
		height 308px

	&__footer
		position absolute
		left 0
		bottom 70px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%

	&__button-video
		margin-bottom 30px
