.tabla
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrap-title
		display flex
		justify-content center

	&__title
		margin-bottom 10px
		text-align center

	&__image-wrap
		position relative
		margin-x auto
		margin-top 30px
		width 462px
		height 308px

	&__image
		size 100%

	&__links-back
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-video
		margin-bottom 30px

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px
