.klarnet
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrapper
		position relative
		z-index 2

	&__title
		margin-bottom 10px
		text-align center

	&__text
		width 625px

	&__image-wrap
		position absolute
		z-index 3
		top 54px
		right 106px
		width 286px
		height 510px

	&__image
		size 100%

	&__link-arrow
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-video
		margin-bottom 30px

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px
