.klarnet
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrapper
		position relative
		z-index 2
		display flex
		justify-content space-between

	&__title
		margin-bottom 10px

	&__image-wrap
		position relative
		flex 0 0 auto
		width 286px
		max-width 286px
		height 510px

	&__image
		size 100%

	&__links-back
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-video
		margin-bottom 30px

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px
