.title
	font-family $font-reformaGrotesk
	font-size 78px
	font-weight 300
	text-transform uppercase
	color #333

	&_size
		&_small
			font-size 85px

		&_big
			font-size 113px

	&_fontWeight
		&_medium
			font-weight 500

	&_color
		&_light
			color #f7e8de

	&_notUppercase
		text-transform none
