.link-arrow
	width 200px
	height 104px
	text-decoration none
	background-repeat no-repeat

	&_type
		&_back
			background-image url('../images/button/back.png')

		&_next
			background-image url('../images/button/next.png')
