.link-arrow
	width 95px
	height 60px
	text-decoration none
	background-repeat no-repeat
	background-size 100%

	&_type
		&_back
			background-image url('../images/button/back.png')

			&:hover
				background-image url('../images/button/back_hover.png')

		&_next
			background-image url('../images/button/next.png')

			&:hover
				background-image url('../images/button/next_hover.png')


		&_scene
			display block
			width 127px
			height 87px
			background-image url('../images/button/scene.png')

			&:hover
				background-image url('../images/button/scene_hover.png')
