include /blocks/container/container
include /blocks/links-back/links-back
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text
include /blocks/popup/popup

mixin trombone()
	+b.trombone.pages&attributes(attributes)
		+e.wrap.wrap
			+container
				+e.content-title
					+e.empty
					+title.trombone__title Тромбон

				+e.wrapper
					+e.image-wrap
						+e('img').image.js-image(src='assets/images/instruments/trombon.png' data-zoom='assets/images/instruments/trombon.png')
						+e.zoom.zoom.js-for-zoom-photo

					+e.content-text
						+text.trombone__text
							| Басово-теноровый регистр.  Известен с XV века. От других медных духовых отличается наличием кулисы — особой передвижной U-образной трубки, с помощью которой музыкант изменяет объём заключённого в инструменте воздуха, достигая возможности исполнять звуки  хроматического звукоряда (на трубе, валторне, тубе этой цели служат вентили).

						+text.trombone__text
							| Основным принципом игры на тромбоне являются получение гармонических созвуков путём смены положения губ и изменение длины столба воздуха в инструменте, достигаемое с помощью кулисы

				+e.footer
					+links-back({href: 'cooperwinds.html'})

					+e.wrap-buttons
						+e.button-video
							+button({type: 'video', popup: 'trombon'})
						+button({audio: 'assets/audio/instruments/Trombon.mp3'})

		+popup({id: 'trombon'})
