.trombone
	padding-top 32px
	overflow hidden
	background-image url('../images/bg-instruments.jpg')
	background-size cover

	&__wrap-title
		display flex
		justify-content center

	&__title
		text-align center

	&__text
		&_right
			text-align right

		&_last
			margin-top 100px

	&__image
		position absolute
		top 105px
		left -20px
		width 542px
		height 282px

	&__footer
		position absolute
		left 0
		bottom 70px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%

	&__wrap-buttons
		display flex

	&__button-video
		margin-right 30px
