.truba
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrap-title
		display flex
		justify-content center

	&__wrapper
		display flex
		justify-content space-between

	&__title
		margin-bottom 10px

	&__content-title
		display flex

	&__empty
		margin-right 30px
		width 460px

	&__image-wrap
		position relative
		flex 0 0 auto
		margin-right 30px
		width 460px
		height 358px

	&__image
		size 100%

	&__footer
		position absolute
		left 0
		bottom 35px
		display flex
		justify-content space-between
		flex-direction column-reverse
		width 100%

	&__button-audio
		margin-bottom 90px
