.woodwinds
	padding-top 35px
	background-image url('../images/bg-woodwinds.jpg')
	background-size cover

	&__wrap
		display flex
		justify-content space-between
		align-items center

	&__title
		margin-bottom 70px
		text-align center

	&__link
		width 25%

	&__footer
		position absolute
		left 0
		bottom 70px
		display flex
