.button
	size 200px
	cursor pointer
	background-repeat no-repeat
	background-size contain

	&_type
		&_music
			background-image url('../images/button/music.png')

			&:hover
				background-image url('../images/button/music-hover.png')

		&_video
			background-image url('../images/button/video.png')

			&:hover
				background-image url('../images/button/video-hover.png')
