.button
	size 90px
	cursor pointer
	background-repeat no-repeat
	background-size 100%

	&_type
		&_music
			background-image url('../images/button/music.png')

			&:hover
				background-image url('../images/button/music_hover.png')

		&_video
			background-image url('../images/button/movie.png')

			&:hover
				background-image url('../images/button/movie_hover.png')
