.popup
	position fixed
	z-index -100000
	top 0
	right 0
	left 0
	bottom 0
	display flex
	justify-content center
	align-items center
	overflow hidden // @stylint off
	font-size 0
	background-color rgba(black, .56)
	visibility hidden
	opacity 0
	transition z-index 0s .25s, visibility 0s .25s, opacity .25s
	will-change z-index, visibility, opacity

	&_state_active
		z-index 10000
		visibility visible
		opacity 1
		transition z-index 0s 0s, visibility 0s 0s, opacity .25s

	&__close
		position absolute
		z-index 1
		top 10px
		right 10px
		size 30px
		background-image url('../images/close.png')
		border none
		cursor pointer

		&:hover
			filter drop-shadow(6px 6px 25px white)


	&__content
		position relative
		padding-x 65px
		display flex
		align-items center
		justify-content center
		width 100%
		max-width 965px
		height 602px
		background-image url('../images/bg-instruments.jpg')
		border-radius 3px
