.preview
	background-color #000

	&__wrap
		position absolute
		z-index 0
		top 0
		right 0
		left 0
		bottom 0

	&__video
		size 100%
		object-fit cover
		object-position center

	&__footer
		position absolute
		right 0
		bottom 35px
		display flex
