.skripka-alt
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrap-title
		display flex

	&__title
		margin-bottom 10px

	&__title + &__title_small
		margin-x 25px
		text-transform none

	&__wrapper
		display flex
		justify-content space-between

	&__image-wrap
		position relative
		flex 0 0 auto
		width 206px
		height 568px

	&__image
		size 100%

	&__links-back
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-audio
		position absolute
		right 0
		bottom 35px
