.skripka-alt
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrap-title
		display flex
		justify-content center

	&__title
		margin-bottom 10px
		text-align center

	&__title + &__title_small
		margin-x 25px
		text-transform none

	&__text
		width 633px

	&__image-wrap
		position absolute
		top 0
		right 10px
		width 206px
		height 568px

	&__image
		size 100%

	&__link-arrow
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-audio
		position absolute
		right 0
		bottom 35px
