include /blocks/container/container
include /blocks/link-arrow/link-arrow
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text

mixin skripka-alt()
	+b.skripka-alt&attributes(attributes)&attributes({class: 'js-skripka-alt'})
		+container
			+e.wrapper
				+e.wrap-title
					+title.skripka-alt__title Скрипка
					+title.skripka-alt__title.skripka-alt__title_small и
					+title.skripka-alt__title Альт

				+text.skripka-alt__text
					| Струнный смычковый музыкальный инструмент высокого регистра. Ему ринадлежит ведущее место среди струнных смычковых — важнейшей части современного симфонического оркестра.  Благодаря их исключительной певучести используются для мелодического «пения», ведения основной музыкальной мысли. Великолепные мелодические возможности скрипок были издавна обнаружены композиторами, и прочно утвердились в этой роли уже у классиков XVIII века.

				+text.skripka-alt__text
					| Альт — инструмент такого же устройства, что и скрипка, но несколько больших размеров, отчего звучит в более низком регистре.
					br
					| Струны альта настроены на квинту ниже скрипичных и на октаву выше виолончельных — c, g, d1,a1 (до, соль малой октавы, ре, ля первой октавы). Приёмы игры на альте и штрихи — те же, что и на скрипке, но звук менее яркий, матовый, бархатистый, но слегка гнусавый.

			+e('img').image(src='assets/images/instruments/skripka-alt.png')

			+e.footer
				+link-arrow
				+button({audio: 'assets/audio/instruments/skripka.mp3'})
