.gorn
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__wrapper
		position relative
		display flex
		justify-content space-between

	&__title
		margin-bottom 10px

	&__image-wrap
		position relative
		margin-left 30px
		flex 0 0 auto
		width 269px
		height 369px

	&__image
		size 100%

	&__links-back
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-video
		margin-bottom 30px

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px
