.pages
	display flex
	justify-content center
	align-items center
	overflow hidden
	height 100vh
	background-color #000


.wrap
	position relative
	padding-top 32px
	width 1024px
	overflow hidden
	background-position center
	background-repeat no-repeat
