@font-face
	font-family 'Black Grotesk Italic'
	src url('../fonts/woff2/blackgroteskc-italic.woff2') format('woff2'),
		url('../fonts/woff/blackgroteskc-italic.woff') format('woff'),
		url('../fonts/ttf/blackgroteskc-italic.ttf') format('truetype')
	font-weight 400
	font-style italic

@font-face
	font-family 'Black Grotesk'
	src url('../fonts/woff2/blackgroteskc.woff2') format('woff2'),
		url('../fonts/woff/blackgroteskc.woff') format('woff'),
		url('../fonts/ttf/blackgroteskc.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'Reforma Grotesk'
	src url('../fonts/woff2/reformagrotesklightc.woff2') format('woff2'),
		url('../fonts/woff/reformagrotesklightc.woff') format('woff'),
		url('../fonts/woff/reformagrotesklightc.ttf') format('truetype'),
	font-weight 300
	font-style normal

@font-face
	font-family 'Reforma Grotesk'
	src url('../fonts/woff2/reformagroteskdemic.woff2') format('woff2'),
		url('../fonts/woff/reformagroteskdemic.woff') format('woff'),
		url('../fonts/woff/reformagroteskdemic.ttf') format('truetype'),
	font-weight 400
	font-style normal

@font-face
	font-family 'Reforma Grotesk'
	src url('../fonts/woff2/reformagroteskmediumc.woff2') format('woff2'),
		url('../fonts/woff/reformagroteskmediumc.woff') format('woff'),
		url('../fonts/woff/reformagroteskmediumc.ttf') format('truetype'),
	font-weight 500
	font-style normal

@font-face
	font-family 'Reforma Grotesk'
	src url('../fonts/woff2/reformagroteskboldc.woff2') format('woff2'),
		url('../fonts/woff/reformagroteskboldc.woff') format('woff'),
		url('../fonts/woff/reformagroteskboldc.ttf') format('truetype'),
	font-weight 700
	font-style normal

@font-face
	font-family 'vwheadlineot'
	src url('../fonts/woff2/vwheadlineot-book.woff2') format('woff2'),
		url('../fonts/woff/vwheadlineot-book.woff') format('woff'),
		url('../fonts/woff/vwheadlineot-book.ttf') format('truetype')
	font-weight 400
	font-style normal

@font-face
	font-family 'vwheadlineot'
	src url('../fonts/woff2/vwheadlineot-semibold.woff2') format('woff2'),
		url('../fonts/woff/vwheadlineot-semibold.woff') format('woff'),
		url('../fonts/woff/vwheadlineot-semibold.ttf') format('truetype')
	font-weight 600
	font-style normal

@font-face
	font-family 'vwheadlineot'
	src url('../fonts/woff2/vwheadlineot-black.woff2') format('woff2'),
		url('../fonts/woff/vwheadlineot-black.woff') format('woff'),
		url('../fonts/woff/vwheadlineot-black.ttf') format('truetype')
	font-weight 900
	font-style normal
