include /../node_modules/bemto.jade/bemto

doctype html
html(lang='ru')

	- var pageTitle = 'Index';

	include ../blocks/head/head

	body
		style.
			.index {
				position: relative;
				margin: 10px auto;
				padding: 20px 10px;
				width: 500px;
				background: #999;
			}
			.index__h2 {
				margin: 20px 0 10px;
				font-family: $font-roboto;
				font-size: 20px;
				text-align: center;
				color: #fff;
			}
			.index__item {
				position: relative;
				margin-bottom: 5px;
				padding: 5px 10px;
				padding-right: 30px;
				display: block;
				font-family: $font-roboto;
				font-size: 14px;
				text-decoration: none;
				color: #fff;
				background-color: rgba(0,0,0,0.1);
				transition: 0.3s ease-out;
			}
			.index__item:after {
				position: absolute;
				top: 50%;
				right: 10px;
				display: block;
				width: 10px;
				height: 10px;
				content: '';
				border-radius: 50%;
				transform: translateY(-50%);
			}
			.index__item:hover {
				background-color: rgba(0,0,0,0.2);
			}
			.index__item_state_in-progress:after {
				background-color: #fbbc05;
			}

			.index__item_state_test:after{
				background-color: #FA8072;
			}

			.index__item_state_done:after {
				background-color: #34a853;
			}

		+b.index
			+e('h2').h2 Общие страницы
			+e('a').item_state_in-progress(href='preview.html') Превью
			+e('a').item_state_in-progress(href='main.html') Главная
			+e('a').item_state_in-progress(href='new-main.html') Главная new

			+e('h2').h2 Инструменты
			+e('a').item_state_test(href='arfa.html') Арфа
			+e('a').item_state_test(href='deedjeridoo.html') Диджериду
			+e('a').item_state_test(href='duduk.html') duduk
			+e('a').item_state_test(href='fagot.html') fagot
			+e('a').item_state_test(href='fleita.html') fleita
			+e('a').item_state_test(href='goboi.html') goboi
			+e('a').item_state_test(href='klarnet.html') klarnet
			+e('a').item_state_test(href='kontrabas.html') kontrabas
			+e('a').item_state_test(href='litavry.html') litavry
			+e('a').item_state_test(href='piano.html') piano
			+e('a').item_state_test(href='santoor.html') santoor
			+e('a').item_state_test(href='skripka-alt.html') skripka-alt
			+e('a').item_state_test(href='tabla.html') tabla
			+e('a').item_state_test(href='trombone.html') trombone
			+e('a').item_state_test(href='truba.html') truba
			+e('a').item_state_test(href='tuba.html') tuba
			+e('a').item_state_test(href='valtorna.html') valtorna
			+e('a').item_state_test(href='violonchel.html') violonchel

			+e('h2').h2 Сборник инструментов
			+e('a').item_state_test(href='cooperwinds.html') Медно-духовые
			+e('a').item_state_test(href='woodwinds.html') Деревянно-духовые
			+e('a').item_state_test(href='stringed-bow.html') Стурнно-смычковые
