include /blocks/container/container
include /blocks/link-arrow/link-arrow
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text

mixin piano()
	+b.piano&attributes(attributes)
		+container
			+e.wrapper
				+title.piano__title Рояль

				+e.wrap
					+e.button-video
						+button._type_video

					+e('img').image(src='assets/images/instruments/piano.png')

					+e.text
						+text
							| Cостоит из корпуса (ящика), в котором над резонансной декой натянуты металлические струны, звучащие при ударе молоточками, приводимыми в движение клавишами. Посредством трех педалей можно усиливать (правая) или ослаблять (левая) звук (следует заметить, что левая педаль используется не столько для ослабления, сколько для изменения окраски звука во время игры, создавая тем самым дополнительные нюансы).
							br
							| А средняя дает красочности шедевру.

						+text
							| По разнообразию и красоте звука и способности передачи тончайших намерений и индивидуальности исполнителя — рояль один из наиболее совершенных музыкальных инструментов.

						+text
							| Наиболее известные производители роялей — Стейнвей (Steinway & Sons), Бехштейн (Bechstein), Ямаха, Бёзендорфер и Кавай.

			+e.footer
				+link-arrow
				+e.wrap-buttons
					+e.button-audio
						+button({audio: 'assets/audio/instruments/piano.mp3'})
