.piano
	&__wrap-head
		background-image url('../images/bg-piano.jpg')
		background-size cover

	&__wrapper
		position relative

	&__wrap
		position relative
		display flex

	&__title
		margin-bottom 10px
		text-align center

	&__text
		width 540px
		text-align center

	&__link
		text-decoration none
		color #fff
		transition color .3s

		&:hover
			color rgba(#fff, .8)

	&__image-wrap
		position relative
		z-index 3
		margin-right 30px
		width 346px
		height 350px

	&__image
		size 100%

	&__footer
		position absolute
		left 0
		bottom 35px
		display flex
		justify-content space-between
		align-items flex-end
		width 346px
		height 100vh

	&__button-video
		position absolute
		z-index 4
		top -20px
		left 60px

	&__button-audio
		position absolute
		z-index 4
		right 0
		bottom 60px
