.piano
	&__wrap-head
		background-image url('../images/bg-piano.jpg')
		background-size cover

	&__wrapper
		position relative

	&__wrap
		position relative
		display flex

	&__title
		margin-bottom 10px

	&__text
		width 100%

	&__contents
		width 100%
		display flex

	&__empty
		margin-right 50px
		width 346px

	&__link
		text-decoration none
		color #fff
		transition color .3s

		&:hover
			color rgba(#fff, .8)

	&__image-wrap
		position relative
		z-index 3
		flex 0 0 auto
		margin-right 30px
		width 346px
		height 350px

	&__image
		size 100%

	&__footer
		position absolute
		z-index 3
		left 0
		bottom 35px
		display flex
		width 346px

	&__buttons
		position absolute
		z-index 4
		display flex
		right 0
		bottom 75px

	&__button-audio
		margin-right 30px
