.stringed-bow
	&__wrap-head
		padding-top 35px
		background-image url('../images/bg-stringed-bow.jpg')
		background-size cover

	&__wrap
		display flex
		justify-content space-between
		align-items center

	&__title
		margin-bottom 60px
		text-align center

	&__link
		margin-top -140px
		width 33.333%

		&_second
			margin-top 70px
			margin-right -70px

	&__footer
		position absolute
		left 0
		bottom 35px
		display flex
