.deedjeridoo
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__title
		margin-bottom 10px
		text-align center

	&__image-wrap
		position absolute
		right -75px
		bottom 25px
		width 654px
		height 480px

	&__image
		size 100%

	&__link-arrow
		position absolute
		left 0
		bottom 35px
		display flex

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px

	&__button-video
		margin-bottom 30px
