.deedjeridoo
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__title
		margin-bottom 10px
		text-align center

	&__image
		position absolute
		right -75px
		bottom 25px
		width 654px
		height 480px

	&__footer
		position absolute
		left 0
		bottom 35px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%

	&__button-video
		margin-bottom 30px
