.deedjeridoo
	padding-top 52px
	overflow hidden
	min-height 100vh
	background-image url('../images/bg-instruments.jpg')
	background-size cover

	&__title
		margin-bottom 25px
		font-family $font-reformaGrotesk
		font-size 120px
		font-weight 300
		text-transform uppercase
		text-align center
		color #473e38

	&__text
		font-family $font-vwhead
		font-size 28px
		line-height normal
		color #534b43

		&:not(:last-child)
			margin-bottom 20px

	&__image
		position absolute
		right -190px
		bottom -30px
		height 90vh

	&__footer
		position absolute
		left 0
		bottom 48px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%
