.violonchel
	padding-top 42px
	overflow hidden
	background-image url('../images/bg-instruments.jpg')
	background-size cover

	&__title
		margin-bottom 42px
		text-align center

	&__wrapper
		width 660px

	&__image
		position absolute
		top 16px
		right -16px
		width 230px
		height 554px

	&__footer
		position absolute
		left 0
		bottom 70px
		display flex
		justify-content space-between
		align-items flex-end
		width 530px
