.violonchel
	&__wrap
		padding-top 42px
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__title
		margin-bottom 42px

	&__wrapper
		display flex
		justify-content space-between

	&__image-wrap
		position relative
		top -50px
		flex 0 0 auto
		width 230px
		height 554px

	&__image
		size 100%

	&__footer
		position absolute
		left 0
		bottom 35px
		display flex
		justify-content space-between
		align-items flex-end
		width 530px
