.fagot
	&__wrap
		background-image url('../images/bg-instruments.jpg')
		background-size cover

	&__title
		margin-bottom 10px
		text-align center

	&__text
		width 633px

	&__image-wrap
		position absolute
		top 6px
		right 60px
		width 110px
		height 560px

	&__image
		size 100%

	&__link-arrow
		position absolute
		left 0
		bottom 35px
		display flex

	&__button-video
		margin-bottom 30px

	&__wrap-buttons
		position absolute
		right 0
		bottom 35px
