include /blocks/container/container
include /blocks/link-arrow/link-arrow
include /blocks/button/button
include /blocks/title/title
include /blocks/text/text
include /blocks/popup/popup

mixin fagot()
	+b.fagot.pages&attributes(attributes)
		+e.wrap.wrap
			+container
				+e.wrapper
					+title.fagot__title Фагот

					+text._size_small.fagot__text
						| Инструмент басового, тенорового и частично альтового регистра.
						br
						| В разобранном виде напоминает вязанку дров
						br
						| (в переводе с итальянского fagotto — «вязанка дров»).
						br
						| Тембр  весьма экспрессивен и на всём диапазоне богат обертонами. Наиболее употребительны нижний и средний регистр инструмента, верхние ноты звучат несколько гнусаво и сдавленно.

					+text._size_small.fagot__text
						| В оркестре применяется два, реже три фагота, ещё реже — четыре.
						br
						| Иногда последний из них может заменяться в соответствии с партитурой на контрафагот.
						br
						| В общих чертах техника исполнения на фаготе напоминает таковую на гобое, однако дыхание на фаготе расходуется быстрее в силу его больших размеров. Стаккато отчётливое и острое. Хорошо получаются скачки на октаву и более. Смена регистров практически незаметна.

					+text._size_small.fagot__text
						| Технике фагота более всего свойственны чередования мелодических фраз среднего дыхания с различными оттенками гаммообразных пассажей и арпеджио, преимущественно в стаккатном изложении и с применением разнообразных скачков.

					+e('img').image(src='assets/images/instruments/fagot.png')

				+e.footer
					+link-arrow({href: 'woodwinds.html'})

					+e.wrap-buttons
						+e.button-video
							+button({type: 'video', popup: 'fagot'})
						+button({audio: 'assets/audio/instruments/Fagot.mp3'})

		+popup({id: 'fagot'})
