.cooperwinds
	&__wrap-head
		background-image url('../images/bg-cooperwinds.jpg')
		background-size cover

	&__wrap
		margin-x auto
		max-width 650px

	&__title
		margin-bottom 60px
		text-align center

	&__content
		margin-bottom 15px
		display flex
		justify-content space-between
		align-items center
		width 100%

	&__footer
		position absolute
		left 0
		bottom 35px
		display flex
