.text
	font-family $font-vwhead
	font-size 20px
	line-height 24px
	color #330000

	&:not(:last-child)
		margin-bottom 20px

	&_size
		&_big
			font-size 23px
			line-height 28px

		&_small
			font-size 18px
			line-height 22px
