.text
	font-family $font-vwhead
	font-size 20px
	line-height 24px
	color #0f2329

	&:not(:last-child)
		margin-bottom 20px

	&_type_main
		&:not(:last-child)
			margin-bottom 10px

	&_size
		&_small-big
			font-size 23px
			line-height 28px

		&_big
			font-size 24px
			line-height 30px

		&_very-big
			font-size 25px
			line-height 32px

		&_small
			font-size 18px
			line-height 22px

		&_most-big
			font-size 30px
			line-height 32px

	&_color
		&_dark
			color #0f2326

		&_white
			color #fff

	&_uppercase
		text-transform uppercase

		&:not(:last-child)
			margin-bottom 0

	&_font
		&_grotesk
			font-family $font-reformaGrotesk

		&_advent
			font-family $font-advent
			font-weight bold
