.text
	font-family $font-vwhead
	font-size 20px
	line-height 24px
	color #330000

	&:not(:last-child)
		margin-bottom 20px

	&_size
		&_small-big
			font-size 23px
			line-height 28px

		&_big
			font-size 24px
			line-height 30px

		&_very-big
			font-size 25px
			line-height 32px

		&_small
			font-size 18px
			line-height 22px

	&_color
		&_dark
			color #0f2326

	&_uppercase
		text-transform uppercase

		&:not(:last-child)
			margin-bottom 0

	&_fontgrotesk
		font-family $font-reformaGrotesk
