.conductor
	background-color black

	&__wrap-head
		padding-top 0

	&__wrap
		position absolute
		z-index 0
		top 0
		right 0
		left 0
		bottom 0

	&__title
		position absolute
		z-index 1
		top 70px
		left 0
		width 100%
		text-align center
		letter-spacing 2px

	&__video
		size 100%
		object-fit cover
		object-position center


	&__instrument
		position absolute
		width 370px
		height 290px
		cursor pointer
		background-size 100%
		transition filter .3s

		&:hover
			filter drop-shadow(6px 6px 15px white)

		&_piano
			z-index 2
			top 280px
			left -16px
			background-image url('../images/conductor/simfo/pianoON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/pianoOFF.png')

		&_litavry
			top 192px
			left 195px
			background-image url('../images/conductor/simfo/litavryON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/litavryOFF.png')

		&_woodwind
			top 230px
			left 374px
			background-image url('../images/conductor/simfo/woodwindON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/woodwindOFF.png')

		&_cooperwinds
			top 205px
			right 258px
			background-image url('../images/conductor/simfo/cooperwindsON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/cooperwindsOFF.png')

		&_stringed-bow
			top 238px
			right 150px
			background-image url('../images/conductor/simfo/stringed-bowON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/stringed-bowOFF.png')

		&_arfa
			top 298px
			right -58px
			background-image url('../images/conductor/simfo/arfaON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/arfaOFF.png')

		&_tabla
			position static
			width 137px
			height 141px
			background-image url('../images/conductor/etno/tablaON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/etno/tablaOFF.png')

		&_duduk
			position static
			margin-top -42px
			margin-right -60px
			width 123px
			height 232px
			background-image url('../images/conductor/etno/dudukON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/etno/dudukOFF.png')

		&_santoor
			position static
			margin-right -40px
			width 170px
			height 194px
			background-image url('../images/conductor/etno/santoorON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/etno/santoorOFF.png')

		&_deedjereedoo
			position static
			margin-top 30px
			width 216px
			height 128px
			background-image url('../images/conductor/etno/deedjereedooON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/etno/deedjereedooOFF.png')

	&__etno
		position absolute
		z-index 2
		left 0
		bottom 26px
		padding-right 140px
		padding-left 166px
		display flex
		justify-content space-between
		width 100%

	&__footer
		position absolute
		z-index 3
		left 20px
		bottom 30px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%
