.conductor
	background-color black

	&__wrap
		position absolute
		z-index 0
		top 0
		right 0
		left 0
		bottom 0

	&__title
		position absolute
		z-index 1
		top 118px
		left 0
		width 100%
		font-family $font-reformaGrotesk
		font-size 26px
		text-align center
		text-transform uppercase
		color #ffffcc

	&__video
		size 100%
		object-fit cover
		object-position center


	&__instrument
		position absolute
		width 300px
		height 240px
		cursor pointer
		transition filter .3s

		&:hover
			filter drop-shadow(6px 6px 15px white)

		&_piano
			z-index 2
			top 240px
			left -10px
			background-image url('../images/conductor/simfo/pianoON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/pianoOFF.png')

		&_litavry
			top 170px
			left 160px
			background-image url('../images/conductor/simfo/litavryON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/litavryOFF.png')

		&_woodwind
			top 200px
			left 300px
			background-image url('../images/conductor/simfo/woodwindON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/woodwindOFF.png')

		&_cooperwinds
			top 192px
			right 202px
			background-image url('../images/conductor/simfo/cooperwindsON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/cooperwindsOFF.png')

		&_stringed-bow
			top 206px
			right 118px
			background-image url('../images/conductor/simfo/stringed-bowON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/stringed-bowOFF.png')

		&_arfa
			top 260px
			right -42px
			background-image url('../images/conductor/simfo/arfaON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/simfo/arfaOFF.png')

		&_tabla
			position static
			width 137px
			height 141px
			background-image url('../images/conductor/etno/tablaON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/etno/tablaOFF.png')

		&_duduk
			position static
			margin-top -42px
			margin-right -60px
			width 123px
			height 232px
			background-image url('../images/conductor/etno/dudukON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/etno/dudukOFF.png')

		&_santoor
			position static
			margin-right -40px
			width 170px
			height 194px
			background-image url('../images/conductor/etno/santoorON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/etno/santoorOFF.png')

		&_deedjereedoo
			position static
			margin-top 30px
			width 216px
			height 128px
			background-image url('../images/conductor/etno/deedjereedooON.gif')
			background-repeat no-repeat

			&.active
				background-image url('../images/conductor/etno/deedjereedooOFF.png')

	&__etno
		position absolute
		z-index 2
		left 0
		bottom 44px
		padding-right 100px
		padding-left 148px
		display flex
		justify-content space-between
		width 100%

	&__footer
		position absolute
		z-index 3
		left 46px
		bottom 30px
		display flex
		justify-content space-between
		align-items flex-end
		width 100%
